extends layout

block content
  header(class="w3-container w3-teal")
    h1 Criar Nova Cadeira

  nav(class="w3-bar w3-light-grey")
    a(href="/cadeiras" class="w3-bar-item w3-button") Cadeiras
    
    a(href="/perfil" class="w3-bar-item w3-button") Perfil

    if nivel == 'docente' || nivel == 'admin'
      a(href="/cadeiras/add" class="w3-bar-item w3-button") Nova Cadeira
      
    a(href="/logout" class="w3-bar-item w3-button") Logout

  div(class="w3-container")
    h2 Nova Cadeira

    form(action="/cadeiras/add" method="POST" class="w3-container w3-card-4")
      label(class="w3-text-teal") Número
      input(type="text" name="numero" class="w3-input w3-border" required)

      label(class="w3-text-teal") Título
      input(type="text" name="titulo" class="w3-input w3-border" required)

      label(class="w3-text-teal") Sigla
      input(type="text" name="sigla" class="w3-input w3-border" required)

      label(class="w3-text-teal") Docentes (Segurar ctrl e clicar nos docentes que deseja adicionar à cadeira)
      select.w3-select.w3-border(name="docentes", multiple, required)
        each docente in docentes
          option(value=docente._id)= docente.nome

      label(class="w3-text-teal") Horário (Teóricas, separados por vírgula)
      input(type="text" name="horario_teoricas" class="w3-input w3-border")

      label(class="w3-text-teal") Horário (Práticas, separados por vírgula)
      input(type="text" name="horario_praticas" class="w3-input w3-border")

      label(class="w3-text-teal") Avaliação (Separados por vírgula)
      input(type="text" name="avaliacao" class="w3-input w3-border")

      label(class="w3-text-teal") Data do Teste
      input(type="text" name="datas_teste" class="w3-input w3-border")

      label(class="w3-text-teal") Data do Exame
      input(type="text" name="datas_exame" class="w3-input w3-border")

      label(class="w3-text-teal") Data do Projeto
      input(type="text" name="datas_projeto" class="w3-input w3-border")

      button(type="submit" class="w3-button w3-teal w3-margin-top") Criar Cadeira
